<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kai.meowallpaper">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name="com.kai.meo.App"
        android:allowBackup="true"
        android:icon="@drawable/meo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.kai.meo.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kai.meo.activity.MainActivity"
            android:label="主界面" />
        <activity
            android:name="com.kai.meo.activity.CategoryActivity"
            android:label="分类" />
        <activity
            android:name="com.kai.meo.activity.CategoryPicActivity"
            android:label="分类下图片" />
        <activity
            android:name="com.kai.meo.activity.PicDetailsActivity"
            android:label="图片详情"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kai.meo.activity.ComputerWallpaperActivity"
            android:label="电脑壁纸" />
        <activity
            android:name="com.kai.meo.activity.ThemeActivity"
            android:label="设置" />
        <activity android:name="com.kai.meo.activity.BannerActivity" />

        <receiver android:name="com.kai.meo.receiver.NetworkConnectChangedReceiver">
            <intent-filter>
                <action android:name="android.NET.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.Net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>